<footer class="pt-5">
  <div class="container">
    <!-- Row START -->
    <div class="row g-4">
      <!-- Widget 1 START -->
      <div class="col-lg-3">
        <!-- logo -->
        <a class="me-0" href="index.html">
          <img
            class="light-mode-item h-40px"
            src="../../../assets/HomeAssets/images/506.png"
            alt="logo"
          />
          <img
            class="dark-mode-item h-40px"
            src="a../../../assets/HomeAssets/images/506.png"
            alt="logo"
          />
        </a>
        <h1>Neqatcom</h1>
        <!-- Social media icon -->
      </div>
      <!-- Widget 1 END -->

      <!-- Widget 2 START -->
      <div class="col-lg-6">
        <div class="row g-4">
          <!-- Link block -->
          <div class="col-6 col-md-4">
            <h5 class="mb-2 mb-md-4">Company</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link" routerLink="/contact">Contact us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="Auth/type">Register</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="/Testimonials">Feedback</a>
              </li>
            </ul>
          </div>

          <!-- Link block -->

          <!-- Link block -->
          <div class="col-6 col-md-4">
            <h5 class="mb-2 mb-md-4">Bussines</h5>
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link">Become a Lender Store</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">How to Get a good Loan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link">Pay cash &amp; Online</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Widget 2 END -->

      <!-- Widget 3 START -->
      <div class="col-lg-3">
        <h5 class="mb-2 mb-md-4">Contact</h5>
        <!-- Time -->
        <p class="mb-2">
          Phone:<a href="" class="h6 fw-light ms-2">+962 777559634</a>
        </p>

        <span class="mb-2"
          >Email: <a class="mb-0" href="">neqatcom0@gmail.com</a></span
        >
      </div>
      <!-- Widget 3 END -->
    </div>
    <!-- Row END -->

    <!-- Divider -->
    <hr class="mt-4 mb-0" />

    <!-- Bottom footer -->
    <div class="py-3">
      <div class="container px-0">
        <div
          class="d-lg-flex justify-content-between align-items-center py-3 text-center text-md-left"
        >
          <!-- copyright text -->
          <div class="text-primary-hover">
            Copyrights <a href="#" class="text-body">©2023 Neqatcom Team</a>.
            All rights reserved.
          </div>
          <!-- copyright links-->
        </div>
      </div>
    </div>
  </div>
</footer>
