<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Neqatcom - Company,Dashboard</title>
  </head>

  <body>
    <div *ngIf="lenderService.progressBarVisible" class="progress-container">
      <div class="progress-bar"></div>
    </div>
    <!-- Header START -->
    <app-lender-header></app-lender-header>
    <!-- Header END -->

    <!-- **************** MAIN CONTENT START **************** -->
    <main>
      <!-- =======================
Page Banner START -->
      <app-lender-banner></app-lender-banner
      ><!-- =======================
Page Banner END -->

      <!-- =======================
Page content START -->
      <section class="pt-0">
        <div class="container">
          <div class="row">
            <!-- Left sidebar START -->
            <div class="col-xl-3">
              <!-- Responsive offcanvas body START -->
              <div
                class="offcanvas-xl offcanvas-end"
                tabindex="-1"
                id="offcanvasSidebar"
              >
                <!-- Offcanvas header -->
                <div class="offcanvas-header bg-light">
                  <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    My profile
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="offcanvas"
                    data-bs-target="#offcanvasSidebar"
                    aria-label="Close"
                  ></button>
                </div>
                <!-- Offcanvas body -->
                <div class="offcanvas-body p-3 p-xl-0">
                  <div class="bg-dark border rounded-3 pb-0 p-3 w-100">
                    <!-- Dashboard menu -->
                    <app-lender-side-bar></app-lender-side-bar>
                  </div>
                </div>
              </div>
              <!-- Responsive offcanvas body END -->
            </div>
            <!-- Left sidebar END -->

            <!-- Main content START -->
            <div class="col-xl-9">
              <!-- Counter boxes START -->

              <!-- Counter boxes END -->
              <div class="card border bg-transparent rounded-3">
                <!-- Card header START -->
                <div class="card-header bg-transparent border-bottom">
                  <h3 class="mb-0">My Loanees List</h3>
                </div>
                <!-- Card header END -->

                <!-- Card body START -->
                <div class="card-body">
                  <!-- Search and select START -->

                  <!-- Search and select END -->

                  <!-- Student list table START -->
                  <div class="table-responsive border-0">
                    <table
                      class="table table-dark-gray align-middle p-4 mb-0 table-hover"
                    >
                      <!-- Table head -->
                      <thead>
                        <tr>
                          <th scope="col" class="border-0 rounded-start">
                            Loanee name
                          </th>

                          <th scope="col" class="border-0">Email</th>

                          <th scope="col" class="border-0 rounded-end">
                            Phone number
                          </th>
                        </tr>
                      </thead>

                      <!-- Table body START -->
                      <tbody>
                        <!-- Table item -->
                        <tr *ngFor="let item of Followers">
                          <!-- Table data -->
                          <td>
                            <div
                              class="d-flex align-items-center position-relative"
                            >
                              <div class="cols-3" style="word-break: break-all">
                                {{ item.firstname }} {{ item.lastname }}
                              </div>
                            </div>
                          </td>
                          <td>
                            <div
                              class="d-flex align-items-center position-relative"
                            >
                              <div class="cols-3" style="word-break: break-all">
                                {{ item.email }}
                              </div>
                            </div>
                          </td>
                          <td>
                            <div
                              class="d-flex align-items-center position-relative"
                            >
                              <div class="cols-3" style="word-break: break-all">
                                {{ item.phonenum }}
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                      <!-- Table body END -->
                    </table>
                  </div>
                  <!-- Student list table END -->

                  <!-- Pagination START -->
                  <div
                    class="d-sm-flex justify-content-sm-between align-items-sm-center mt-4 mt-sm-3"
                  >
                    <!-- Content -->
                    <p class="mb-0 text-center text-sm-start">
                      Showing 1 to 8 of 20 entries
                    </p>
                    <!-- Pagination -->
                    <nav
                      class="d-flex justify-content-center mb-0"
                      aria-label="navigation"
                    >
                      <ul
                        class="pagination pagination-sm pagination-primary-soft d-inline-block d-md-flex rounded mb-0"
                      >
                        <li class="page-item mb-0">
                          <a class="page-link" href="#" tabindex="-1"
                            ><i class="fas fa-angle-left"></i
                          ></a>
                        </li>
                        <li class="page-item mb-0">
                          <a class="page-link" href="#">1</a>
                        </li>
                        <li class="page-item mb-0 active">
                          <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item mb-0">
                          <a class="page-link" href="#">3</a>
                        </li>
                        <li class="page-item mb-0">
                          <a class="page-link" href="#"
                            ><i class="fas fa-angle-right"></i
                          ></a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                  <!-- Pagination END -->
                </div>
                <!-- Card body START -->
              </div>
              <!-- Chart START -->

              <!-- Chart END -->

              <!-- Course List table START -->

              <!-- Course List table END -->
            </div>
            <!-- Main content END -->
          </div>
          <!-- Row END -->
        </div>
      </section>
      <!-- =======================
Page content END -->
    </main>
    <!-- **************** MAIN CONTENT END **************** -->

    <!-- =======================
Footer START -->
    <footer class="footer">
      <app-lender-footer></app-lender-footer>
    </footer>
    <!-- =======================
Footer END -->
  </body>
</html>
