.page-content {
    min-height: calc(100vh - (headerHeight + footerHeight));
    /* Adjust the header and footer heights accordingly */
}

.footer {
    /* Add appropriate styling for your footer */
    position: fixed;
    bottom: 0;
    width: 100%;
}      