<main>
  <section
    class="p-0 d-flex align-items-center position-relative overflow-hidden"
  >
    <div class="container-fluid">
      <div class="row">
        <!-- left -->
        <div
          class="col-12 col-lg-6 d-md-flex align-items-center justify-content-center bg-primary bg-opacity-10 vh-lg-100"
        >
          <div class="p-3 p-lg-5">
            <!-- Title -->
            <div class="text-center">
              <h2 class="fw-bold">Welcome to our largest community</h2>
              <p class="mb-0 h6 fw-light">Let's deal with new offer today!</p>
            </div>
            <!-- SVG Image -->
            <img
              src="../../../assets/HomeAssets/images/element/05.svg"
              class="mt-5"
              alt=""
            />
            <!-- Info -->
            <div
              class="d-sm-flex mt-5 align-items-center justify-content-center"
            >
              <!-- Avatar group -->
              <ul class="avatar-group mb-2 mb-sm-0">
                <li class="avatar avatar-sm">
                  <img
                    class="avatar-img rounded-circle"
                    src="https://media.istockphoto.com/id/1407759041/photo/confident-happy-beautiful-hispanic-student-girl-indoor-head-shot-portrait.webp?b=1&s=170667a&w=0&k=20&c=--Ei0owZ8KqwVppB5o0bMRG4aNV8VA0HHnsH1YfuxAw="
                    alt="avatar"
                  />
                </li>
                <li class="avatar avatar-sm">
                  <img
                    class="avatar-img rounded-circle"
                    src="https://media.istockphoto.com/id/1406197730/photo/portrait-of-a-young-handsome-indian-man.webp?b=1&s=170667a&w=0&k=20&c=KtmKHyOE6MJV0w2DiGX8P4399KHNbZ3p8lCjTEabGcY="
                    alt="avatar"
                  />
                </li>
                <li class="avatar avatar-sm">
                  <img
                    class="avatar-img rounded-circle"
                    src="https://media.istockphoto.com/id/1296338881/photo/young-smiling-muslim-sports-woman-with-hijab-indoors.webp?b=1&s=170667a&w=0&k=20&c=NHKdbGr2ntoXtNz_QnhDq4tDtncwR-OG_I9ZXBjWZGM="
                    alt="avatar"
                  />
                </li>
                <li class="avatar avatar-sm">
                  <img
                    class="avatar-img rounded-circle"
                    src="https://media.istockphoto.com/id/1434687322/photo/portrait-of-serious-and-successful-doctor-man-in-medical-gown-looking-thoughtfully-at-camera.jpg?s=612x612&w=0&k=20&c=UeQDPORJz6_DYYzfufSoity1YZy0pyc48pMCzm9Kovk="
                    alt="avatar"
                  />
                </li>
              </ul>
              <!-- Content -->
              <p class="mb-0 h6 fw-light ms-0 ms-sm-3">
                4k+ Clients joined us, now it's your turn.
              </p>
            </div>
          </div>
        </div>

        <!-- Right -->
        <div class="col-12 col-lg-6 m-auto">
          <div class="row my-5">
            <div class="col-sm-10 col-xl-8 m-auto">
              <!-- Title -->
              <!-- <span class="mb-0 fs-1">👋</span> -->
              <h1 class="fs-2">Login into Neqactom.</h1>
              <p class="lead mb-4">
                Nice to see you! Please log in with your account.
              </p>

              <!-- Form START -->
              <form [formGroup]="LoginForm">
                <!-- Email -->
                <div class="mb-4">
                  <label for="exampleInputEmail1" class="form-label"
                    >Email *</label
                  >
                  <div class="input-group input-group-lg">
                    <span
                      class="input-group-text bg-light rounded-start border-0 text-secondary px-3"
                      ><i class="bi bi-envelope-fill"></i
                    ></span>
                    <input
                      type="text"
                      class="form-control border-0 bg-light rounded-end ps-1"
                      placeholder="Email"
                      id="exampleInputEmail1"
                      formControlName="email"
                    />
                  </div>
                  <div
                    class="form-text text-danger"
                    *ngIf="Email.errors?.['required'] && Email.touched"
                  >
                    Email is required
                  </div>
                </div>
                <!-- Password -->
                <div class="mb-4">
                  <label for="inputPassword5" class="form-label"
                    >Password *</label
                  >
                  <div class="input-group input-group-lg">
                    <span
                      class="input-group-text bg-light rounded-start border-0 text-secondary px-3"
                      ><i class="fas fa-lock"></i
                    ></span>
                    <input
                      type="password"
                      class="form-control border-0 bg-light rounded-end ps-1"
                      placeholder="password"
                      id="inputPassword5"
                      formControlName="password"
                    />
                  </div>
                  <div
                    class="form-text text-danger"
                    *ngIf="Password.errors?.['required'] && Password.touched"
                  >
                    Password is required
                  </div>
                </div>

                <!-- Button -->
                <div class="align-items-center mt-0">
                  <div class="d-grid">
                    <!-- <button class="btn btn-primary mb-0" type="button"
                                            [disabled]="LoginForm.invalid" (click)="openFactorDialog()">Login</button> -->
                    <button
                      class="btn btn-primary mb-0"
                      type="button"
                      (click)="CheckUser()"
                    >
                      Login
                    </button>
                  </div>
                </div>
                <div class="align-items-center mt-0">
                  <div
                    class="d-grid"
                    style="margin-top: 10px; margin-left: 140px"
                  >
                    <ngx-recaptcha2
                      #captchaElem
                      [siteKey]="siteKey"
                      formControlName="recaptcha"
                    >
                    </ngx-recaptcha2>
                  </div>
                </div>
              </form>
              <!-- Form END -->

              <!-- Sign up link -->
              <div class="mt-4 text-center">
                <span
                  >Don't have an account?
                  <a routerLink="/Auth/type">SignUp here</a></span
                >
                <br />
                <span>
                  <a routerLink=""
                    ><i class="fa fa-home" aria-hidden="true"></i> Home</a
                  ></span
                >
              </div>
            </div>
          </div>
          <!-- Row END -->
        </div>
      </div>
      <!-- Row END -->
    </div>
  </section>
</main>

<ng-template #TwoFactor class="factor">
  <div
    style="
      background-color: #3e3e40;
      color: white;
      overflow-y: hidden;
      height: 100%;
      position: relative;
    "
  >
    <h2 mat-dialog-content class="text-white">Enter the code</h2>
    <p mat-dialog-content class="text-white">
      To preserve your personal information, please go to your email and verify
      the 4 digits code that was sent to you. Thank you for your time
    </p>
    <div mat-dialog-content>
      <form [formGroup]="FactorForm">
        <input
          class="form-control border-0 bg-light rounded-end ps-1"
          type="number"
          formControlName="code"
        />
      </form>
      <div style="display: flex; justify-content: center; margin-top: 20px">
        <button
          class="btn btn-primary check-button"
          type="button"
          (click)="CheckUser()"
        >
          Check
        </button>
      </div>
    </div>
  </div>
</ng-template>
