<app-admin-header></app-admin-header>
<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#76BDF5" type="line-scale-party" [fullScreen]="true">
</ngx-spinner> -->
<div *ngIf="pagesService.progressBarVisible" class="progress-container">
  <div class="progress-bar"></div>
</div>
<div class="dashboard__area">
  <div class="row"></div>
  <div class="dashboard section__space__bottom">
    <div class="container">
      <div class="dashboard__area">
        <div class="row">
          <div class="col-xxl-3">
            <app-admin-side-bar></app-admin-side-bar>
          </div>

          <div class="container">
            <div class="row">
              <div
                class="col-lg-6 bg-opacity-10 rounded-3"
                style="margin-top: 50px"
              >
                <h1 data-aos="fade-right">Update Home</h1>
                <form class="example-form" [formGroup]="UpdateData">
                  <div class="col-lg-6">
                    <mat-form-field
                      class="example-full-width"
                      style="width: 300px"
                    >
                      <mat-label>Leave a comment</mat-label>
                      <textarea
                        matInput
                        formControlName="paragraph1"
                        matInput
                        placeholder="Ex. It makes me feel..."
                      ></textarea>
                      <mat-error
                        *ngIf="
                          UpdateData.controls['paragraph1'].hasError('required')
                        "
                      >
                        Text is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Leave a comment</mat-label>
                      <textarea
                        matInput
                        formControlName="paragraph2"
                        matInput
                        placeholder="Ex. It makes me feel..."
                      ></textarea>
                      <mat-error
                        *ngIf="
                          UpdateData.controls['paragraph2'].hasError('required')
                        "
                      >
                        Text is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Leave a comment</mat-label>
                      <textarea
                        matInput
                        formControlName="paragraph3"
                        matInput
                        placeholder="Ex. It makes me feel..."
                      ></textarea>
                      <mat-error
                        *ngIf="
                          UpdateData.controls['paragraph3'].hasError('required')
                        "
                      >
                        Text is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Leave a comment</mat-label>
                      <input
                        matInput
                        formControlName="companyaddress"
                        matInput
                        placeholder="Ex. It makes me feel..."
                      />
                      <mat-error
                        *ngIf="
                          UpdateData.controls['companyaddress'].hasError(
                            'required'
                          )
                        "
                      >
                        company address is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>Leave a comment</mat-label>
                      <input
                        matInput
                        formControlName="companyemail"
                        matInput
                        placeholder="Ex. It makes me feel..."
                      />
                      <mat-error
                        *ngIf="
                          UpdateData.controls['companyemail'].hasError(
                            'required'
                          )
                        "
                      >
                        company email is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-lg-6">
                    <mat-form-field class="example-full-width">
                      <mat-label>change phone number</mat-label>
                      <input matInput formControlName="companyphonenumber" />
                      <mat-error
                        *ngIf="
                          UpdateData.controls['companyphonenumber'].hasError(
                            'required'
                          )
                        "
                      >
                        Phone number is <strong>required</strong>
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div
                    class="text-center justify-content-center align-items-center p-4 p-sm-5 border border-2 border-dashed position-relative rounded-3"
                  >
                    <div>
                      <h6 class="my-2">Upload Logo here</h6>
                      <label style="cursor: pointer">
                        <span>
                          <input
                            class="form-control stretched-link"
                            type="file"
                            name="my-image"
                            id="image"
                            accept="image/gif, image/jpeg, image/png,image/svg+xml"
                            (change)="UploadImage(file)"
                            #file
                          />
                        </span>
                      </label>
                      <p class="small mb-0 mt-2">
                        <b>Note:</b> Only JPG, JPEG and PNG. Our suggested
                        dimensions are 600px * 450px. Larger image will be
                        cropped to 4:3 to fit our thumbnails/previews.
                      </p>
                    </div>
                  </div>

                  <input
                    type="submit"
                    value="Update"
                    class="btn btn-info"
                    style="margin-top: 10px"
                    (click)="UpdateHome()"
                  />
                </form>
              </div>

              <div class="col-lg-6">
                <iframe
                  src="/"
                  style="height: 1000px; width: 1000px"
                  title="description"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
