<app-lender-header></app-lender-header>
<div class="page-content" style="margin-right: 20%;">
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#76BDF5" type="line-scale-party" [fullScreen]="true">
    </ngx-spinner>

    <div class=" border">



        <!-- Search and select END -->

        <!-- Card header END -->

        <!-- Card body START -->
        <div class="card-body">
            <!-- Course table START -->
            <div class="table-responsive border-0 rounded-3">
                <!-- Table START -->
                <section class="py-0 bg-blue h-100px align-items-center d-flex h-200px rounded-0"
                    style="background:url(../../../assets/HomeAssets/images/pattern/04.png) no-repeat center center; background-size:cover;">
                    <!-- Main banner background image -->
                    <div class="container">
                        <div class="row">
                            <div class="col-12 text-center">
                                <!-- Title -->
                                <h1 class="text-white">Update Password</h1>
                            </div>
                        </div>
                    </div>
                </section>

                <section>



                    <div class="card bg-transparent  rounded-3 mb-5">
                        <div id="stepper" class="bs-stepper stepper-outline">


                            <!-- Card body START -->
                            <div class="card-body">
                                <!-- Step content START -->
                                <div class="bs-stepper-content">


                                    <!-- Step 1 content START -->
                                    <div id="step-1" role="tabpanel" class="content" aria-labelledby="steppertrigger1">

                                        <!-- Basic information START -->
                                        <!-- Course title -->
                                        <div class="col-12">
                                            <form [formGroup]="PasswordForm" class="example-form">
                                                <label for="exampleInputEmail1" class="form-label">Password *</label>
                                                <div class="input-group input-group-lg w-50">
                                                    <span
                                                        class="input-group-text bg-light rounded-start border-0 text-secondary px-3"></span>
                                                    <input type="password"
                                                        class="form-control border-0 bg-light rounded-end ps-1"
                                                        id="exampleInputEmail1" formControlName="password" />
                                                </div>
                                                <div class="form-text text-danger"
                                                    *ngIf="Password.errors?.['required'] && Password.touched">
                                                    Password is required
                                                </div>


                                            </form>
                                        </div>


                                        <!-- Upload image END -->


                                        <!-- Step 1 button -->
                                        <div class="d-flex justify-content-end mt-3">
                                            <button mat-dialog-close class="btn btn-sm btn-info-soft me-2 mb-0"
                                                (click)="updatePassword()">Update Password</button>
                                        </div>

                                        <!-- Basic information START -->
                                    </div>
                                    <!-- Step 1 content END -->

                                </div>
                            </div>
                            <!-- Card body END -->
                        </div>
                    </div>

                </section>

                <!-- Table END -->
            </div>
            <!-- Course table END -->
        </div>

    </div>
</div>
<app-lender-footer></app-lender-footer>