<div *ngIf="pagesService.progressBarVisible" class="progress-container">
  <div class="progress-bar"></div>
</div>
<app-home-header></app-home-header>
<!-- <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#76BDF5" type="line-scale-party" [fullScreen]="true">
</ngx-spinner> -->

<main>
  <!-- =======================
  Main Banner START -->
  <section class="overflow-hidden pt-6 pt-xxl-0">
    <div class="container-fluid">
      <div
        class="row g-4 g-md-5 align-items-center justify-content-between mb-xxl-n7"
      >
        <!-- Left image side START -->
        <div class="col-lg-3 col-xl-4 col-xxl-3 d-none d-lg-block">
          <div class="row g-md-5 align-items-center ms-n6">
            <div class="col-6">
              <img
                src="../../../assets/HomeAssets/images/avatar/dollar.jpg"
                class="rounded-3 mt-6 mb-5"
                alt=""
              />
              <img
                src="../../../assets/HomeAssets/images/avatar/x2.jpg"
                class="rounded-3"
                alt=""
              />
            </div>

            <div class="col-6 position-relative">
              <img
                src="../../../assets/HomeAssets/images/avatar/pexels-cottonbro-studio-3943722.jpg"
                class="rounded-3"
                alt=""
              />

              <!-- Svg element decoration -->
            </div>
          </div>
        </div>

        <!-- Left image side END -->
        <!-- <div id='myChart'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a></div> -->
        <!-- Here is the credit Score chart -->

        <!-- Main content -->
        <div
          class="col-lg-6 col-xl-4 col-xxl-5 text-center position-relative"
          data-aos="fade-down"
        >
          <!-- Title -->
          <h1 class="display-6">Discover best Offer in your region</h1>
          <!-- Svg decoration -->

          <p>
            Introducing our exclusive loan offer website, designed to cater to
            your financial needs in our region. Explore a wide range of loan
            options and secure the funds you require with ease.
          </p>

          <!-- Buttons -->
          <div class="d-sm-flex align-items-center justify-content-center">
            <!-- Button -->
            <a href="https://www.renderforest.com/watch-75837059?queue_id=75233986&quality=0" class="btn btn-lg btn-warning me-2 mb-4 mb-sm-0" target="_blank"
              >Start today<i class="bi bi-arrow-right ms-2"></i
            ></a>
            <!-- Video button -->
          </div>
        </div>

        <!-- Right image side START -->
        <div class="col-lg-3 col-xl-4 col-xxl-3">
          <div class="row g-4 align-items-center me-n4">
            <!-- Images -->
            <div class="col-4">
              <img
                src="../../../assets/HomeAssets/images/avatar/x3.jpg"
                class="rounded-3"
                alt=""
              />
            </div>

            <!-- Images -->
            <div class="col-5 position-relative">
              <img
                src="../../../assets/HomeAssets/images/avatar/x4.jpg"
                class="rounded-3 mb-5"
                alt=""
              />
              <img
                src="../../../assets/HomeAssets/images/avatar/x6.jpg"
                class="rounded-3 mb-n5"
                alt=""
              />

              <!-- Content -->
              <div
                class="p-3 card card-body shadow position-absolute top-0 start-0 translate-middle z-index-1 d-none d-xxl-block mt-6 ms-n7"
              >
                <div class="d-flex justify-content-between align-items-center">
                  <!-- Icon -->
                  <div class="icon-md text-bg-orange rounded-2 flex-shrink-0">
                    <i class="bi bi-star-fill"></i>
                  </div>
                  <!-- Info -->
                  <h6 class="mb-0 small mb-0 ms-3">
                    Over 1M loanees and lenders have given a five-star review to
                    their financial partners.
                  </h6>
                </div>
              </div>
            </div>

            <!-- Images -->
            <div class="col-3">
              <img
                src="../../../assets/HomeAssets/images/avatar/x5.jpg"
                class="rounded-3 mt-7 mb-5"
                alt=""
              />
              <img
                src="../../../assets/HomeAssets/images/bg/3by4/08.jpg"
                class="rounded-3 mb-n8"
                alt=""
              />
            </div>
          </div>
        </div>
        <!-- Right image side END -->
      </div>
    </div>
  </section>
  <!-- =======================
  Main Banner END -->

  <!-- =======================
  Feature START -->
  <section class="position-relative">
    <!-- Svg image decoration -->
    <div class="position-absolute bottom-0 end-0">
      <!-- <img src="../../../assets/HomeAssets/images/element/30.svg" class="h-300px" alt="">fdsa -->
    </div>
  </section>
  <!-- =======================
  Feature END -->

  <!-- =======================
  Instructor grid START -->
  <section class="pt-4">
    <div class="container">
      <!-- Search option START -->
      <div class="row mb-4 align-items-center">
        <!-- Search bar -->

        <div class="col-sm-6 col-xl-4">
          <form class="border rounded p-2">
            <div class="input-group input-borderless">
              <app-search
                (searchTextChanged)="onSearchTextEntered($event)"
              ></app-search>
              <button
                class="bg-transparent p-2 position-absolute top-50 end-0 translate-middle-y border-0 text-primary-hover text-reset"
                type="submit"
              >
                <i class="fas fa-search fs-6"></i>
              </button>
            </div>
          </form>
        </div>
      </div>
      <!-- Search option END -->

      <!-- Instructor list START -->
      <div class="row g-4 justify-content-center">
        <!-- Card item START -->
        <section class="py-5 price-wrap">
          <div class="container">
            <div class="row g-4 position-relative mb-4">
              <!-- SVG decoration -->
              <figure class="position-absolute top-0 start-0 d-none d-sm-block">
                <svg width="22px" height="22px" viewBox="0 0 22 22">
                  <polygon
                    class="fill-purple"
                    points="22,8.3 13.7,8.3 13.7,0 8.3,0 8.3,8.3 0,8.3 0,13.7 8.3,13.7 8.3,22 13.7,22 13.7,13.7 22,13.7 "
                  ></polygon>
                </svg>
              </figure>

              <!-- Title and Search -->
              <div class="col-lg-10 mx-auto text-center position-relative">
                <!-- SVG decoration -->
                <figure
                  class="position-absolute top-50 end-0 translate-middle-y d-none d-md-block"
                >
                  <svg width="27px" height="27px">
                    <path
                      class="fill-orange"
                      d="M13.122,5.946 L17.679,-0.001 L17.404,7.528 L24.661,5.946 L19.683,11.533 L26.244,15.056 L18.891,16.089 L21.686,23.068 L15.400,19.062 L13.122,26.232 L10.843,19.062 L4.557,23.068 L7.352,16.089 L-0.000,15.056 L6.561,11.533 L1.582,5.946 L8.839,7.528 L8.565,-0.001 L13.122,5.946 Z"
                    ></path>
                  </svg>
                </figure>
                <!-- Title -->
                <h2 class="fs-1" data-aos="fade-right">Offers Available</h2>

                <!-- Switch START -->

                <!-- Switch END -->
              </div>
            </div>
            <!-- Pricing START -->
            <div class="row g-4">
              <!-- Pricing item START -->
              <div class="col-md-6 col-xl-4" *ngFor="let item of Offers">
                <div
                  class="card border rounded-3 p-2 p-sm-4 h-100"
                  data-aos="fade-right"
                  *ngIf="
                    searchText === '' ||
                    item.categoryname.toLowerCase().includes(searchText)
                  "
                >
                  <!-- Card Header -->
                  <div class="card-header p-0">
                    <!-- Price and Info -->
                    <div
                      class="d-flex justify-content-between align-items-center p-3 bg-light rounded-2"
                    >
                      <!-- Info -->
                      <div>
                        <a class="mb-0 stretched-link"
                          >{{ item.firstname }} {{ item.lastname }}</a
                        ><br />
                        <!-- <div class="badge text-bg-dark mb-0 rounded-pill">{{ item.categoryname }}
                        </div> -->
                      </div>

                      <div class="badge text-bg-dark mb-0 rounded-pill">
                        {{ item.categoryname }}
                      </div>
                    </div>
                  </div>

                  <!-- Divider -->
                  <div class="position-relative my-3 text-center">
                    <hr />
                    <p
                      class="small position-absolute top-50 start-50 translate-middle bg-body px-3"
                    >
                      All plans included
                    </p>
                  </div>

                  <!-- Card Body -->
                  <div class="card-body pt-0">
                    <ul class="list-unstyled mt-2 mb-0">
                      <li class="mb-3 h6 fw-light">
                        <i class="bi bi-patch-check-fill text-success me-2"></i
                        >Up to {{ item.totalmonths }} monthls
                      </li>
                      <li class="mb-3 h6 fw-light">
                        <i class="bi bi-patch-check-fill text-success me-2"></i
                        ><a>{{ item.descriptions }}</a>
                      </li>
                    </ul>
                  </div>
                  <!-- Card Footer -->
                </div>
              </div>
              <!-- Pricing item END -->
            </div>
            <!-- Row END -->
            <!-- Pricing END -->
          </div>
        </section>
      </div>
      <!-- Instructor list END -->
    </div>
  </section>

  <div class="container">
    <div class="row mb-4">
      <div class="col-md-8 text-center mx-auto">
        <h2 class="fs-1" data-aos="fade-right">Happy Client</h2>
        <div class="row">
          <div class="col-lg-4" *ngFor="let item of Accepted">
            <div
              class="bg-body shadow text-center p-4 rounded-3 position-relative mb-5 mb-md-0"
              data-aos="fade-right"
            >
              <!-- Avatar -->
              <div class="avatar avatar-xl mb-3">
                <img
                  class="avatar-img rounded-circle"
                  src="{{ item.userimage }}"
                  alt="avatar"
                />
              </div>
              <!-- Content -->
              <blockquote>
                <p>
                  <span class="me-1 small"
                    ><i class="fas fa-quote-left"></i
                  ></span>
                  {{ item.message }}
                  <span class="ms-1 small"
                    ><i class="fas fa-quote-right"></i
                  ></span>
                </p>
              </blockquote>
              <!-- Rating -->
              <ul class="list-inline mb-2">
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star text-warning"></i>
                </li>
                <li class="list-inline-item me-0 small">
                  <i class="fas fa-star-half-alt text-warning"></i>
                </li>
              </ul>
              <!-- Info -->
              <h4 class="mb-0">{{ item.role }}</h4>
            </div>
          </div>
        </div>

        <a routerLink="/Testimonials">view all</a>
      </div>
    </div>
  </div>
  <!-- =======================
  Instructor grid END -->

  <!-- =======================

===================
  Action box END -->

  <!-- =======================
  Top Listed START -->

  <!-- =======================
  Top Listed END -->

  <!-- =======================
  Faq START -->
  <section class="pt-0 pt-md-5">
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-6 col-xl-5" data-aos="fade-right">
          <!-- Title and button -->
          <h2 class="fs-1">Frequently Asked Questions</h2>
          <p class="mb-0">
            We are answering the most frequent questions. No worries if you do
            not find the exact one. You can find out more by searching or
            continuing by clicking the button below or directly
            <a routerLink="/contact" class="text-decoration-underline"
              >Contact our supports</a
            >
          </p>
        </div>

        <div class="col-lg-6 ms-xl-auto">
          <!-- Accordion START -->
          <div
            class="accordion accordion-icon accordion-bg-light"
            id="accordionFaq"
          >
            <!-- Accordion item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button
                  class="accordion-button h6 rounded"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  How can I apply for a loan?
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                aria-labelledby="headingOne"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  To apply for a loan, you can sign in in your account and fill
                  out an application form. The lender will require information
                  such as personal details, employment history, salary and
                  desired loan amount.
                </div>
              </div>
            </div>

            <!-- Accordion item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button
                  class="accordion-button h6 rounded collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  How can I improve my credit score?
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="headingTwo"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  Improving your credit score involves paying on time, taking
                  numbers of loans,avoiding takign postpone requests, and
                  avoiding unnecessary action that leads to a complaints which
                  will affect negatively.
                </div>
              </div>
            </div>

            <!-- Accordion item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button
                  class="accordion-button h6 rounded collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseThree"
                  aria-expanded="false"
                  aria-controls="collapseThree"
                >
                  How can I provide feedback for a lender store?
                </button>
              </h2>
              <div
                id="collapseThree"
                class="accordion-collapse collapse"
                aria-labelledby="headingThree"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  Lender stores may have feedback mechanisms such as online
                  reviews, customer surveys. You can share your feedback about
                  the lender store's services, customer experience, or any
                  concerns you may have through.
                </div>
              </div>
            </div>

            <!-- Accordion item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button
                  class="accordion-button h6 rounded collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFour"
                  aria-expanded="false"
                  aria-controls="collapseFour"
                >
                  What are the payment methods for loan repayments?
                </button>
              </h2>
              <div
                id="collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="headingFour"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  Loan repayments can typically be made through various methods,
                  including automatic bank transfers, online bill payments, or
                  in-person at the lender's physical branch.
                </div>
              </div>
            </div>

            <!-- Accordion item -->
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFive">
                <button
                  class="accordion-button h6 rounded collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseFive"
                  aria-expanded="false"
                  aria-controls="collapseFive"
                >
                  Is it easy to navigate the website and use its features?
                </button>
              </h2>
              <div
                id="collapseFive"
                class="accordion-collapse collapse"
                aria-labelledby="headingFive"
                data-bs-parent="#accordionFaq"
              >
                <div class="accordion-body">
                  Yes, our website is designed to be user-friendly and
                  intuitive. We have put a lot of effort into creating a
                  seamless and straightforward user experience. The navigation
                  menu is clear and organized, making it easy for users to find
                  the information or features they are looking for. We have also
                  incorporated user-friendly interfaces for tasks such as
                  applying for a loan, checking loan offers, accessing account
                  information, and making payments. Our goal is to ensure that
                  users can navigate the website effortlessly and complete their
                  desired actions with ease.
                </div>
              </div>
            </div>
          </div>
          <!-- Accordion END -->
        </div>
      </div>
    </div>
  </section>
  <section class="pt-0 pt-md-5">
    <div class="container">
      <h2 class="fs-1" data-aos="fade-right">Meet our team</h2>
      <div class="row" style="margin-top: 50px">
        <div class="col-lg-3" data-aos="zoom-in">
          <div class="text-center">
            <!-- Avatar -->
            <div class="avatar avatar-xxl mb-3">
              <img
                class="avatar-img rounded-circle"
                src="../../../assets/HomeAssets/images/avatar/Ahmad.png"
                alt="avatar"
              />
            </div>
            <!-- Info -->
            <h6 class="mb-0"><a href="#">Ahmad Ghazal</a></h6>
            <p class="mb-0 small">Full stack Developer</p>
            <p class="mb-0 small">asghazal19@cit.just.edu.jo</p>
            <!-- Rating -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item me-0 small">
                <a href="https://www.linkedin.com/in/ahmad-ghazal-9373221b1/"
                  >Linkedin</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3" data-aos="zoom-in">
          <div class="text-center">
            <!-- Avatar -->
            <div class="avatar avatar-xxl mb-3">
              <img
                class="avatar-img rounded-circle"
                src="../../../assets/HomeAssets/images/avatar/bushra1233.jpg"
                alt="avatar"
              />
            </div>
            <!-- Info -->
            <h6 class="mb-0"><a href="#">Boshra Alawneh</a></h6>
            <p class="mb-0 small">Full stack Developer</p>
            <p class="mb-0 small">bkalawneh19@cit.just.edu.jo</p>

            <!-- Rating -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item me-0 small">
                <a href="https://www.linkedin.com/in/boshraalawneh19/"
                  >Linkedin</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3" data-aos="zoom-in">
          <div class="text-center">
            <!-- Avatar -->
            <div class="avatar avatar-xxl mb-3">
              <img
                class="avatar-img rounded-circle"
                src="../../../assets/HomeAssets/images/avatar/E7.png"
                alt="avatar"
              />
            </div>
            <!-- Info -->
            <h6 class="mb-0"><a href="#">Ghayath Quraan</a></h6>
            <p class="mb-0 small">Full stack Developer</p>
            <p class="mb-0 small">Gfalquraan19@cit.just.edu.jo</p>
            <!-- Rating -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item me-0 small">
                <a href="https://www.linkedin.com/in/ghayath-faisal-03669210b/"
                  >Linkedin</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3" data-aos="zoom-in">
          <div class="text-center">
            <!-- Avatar -->
            <div class="avatar avatar-xxl mb-3">
              <img
                class="avatar-img rounded-circle"
                src="../../../assets/HomeAssets/images/avatar/raneem1333.jpg"
                alt="avatar"
              />
            </div>
            <!-- Info -->
            <h6 class="mb-0"><a href="#">Raneem Obeidat</a></h6>
            <p class="mb-0 small">Full stack Developer</p>
            <p class="mb-0 small">rmobeidat197@cit.just.edu.jo</p>

            <!-- Rating -->
            <ul class="list-inline mb-0">
              <li class="list-inline-item me-0 small">
                <a href="https://www.linkedin.com/in/raneem-obeidat-6a03a5235/"
                  >Linkedin</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- =======================
  Faq END -->
</main>

<app-home-footer></app-home-footer>
