<app-home-header></app-home-header>
<section class="bg-light position-relative">

    <div class="container">
        <!-- Title -->
        <div class="row mb-4">
            <div class="col-lg-8 mx-auto text-center">
                <h2>Our Customer Feedback</h2>

            </div>
        </div>
        <div class="row">
            <div *ngFor="let item of tests" class="container col-md-4 mt-3" data-aos="zoom-in">
                <!-- Feedback START -->

                <!-- Slider START -->
                <div class="tiny-slider arrow-round arrow-creative arrow-dark arrow-hover">
                    <div class="tiny-slider-inner" data-autoplay="true" data-edge="5" data-arrow="true"
                        data-dots="false" data-items="4" data-items-xl="3" data-items-md="2" data-items-xs="1">

                        <!-- Feedback item -->
                        <div>
                            <div class="bg-body text-center p-4 rounded-3 border border-1 position-relative">
                                <!-- Avatar -->
                                <div class="avatar avatar-lg mb-3">
                                    <img class="avatar-img rounded-circle"
                                        src="../../../assets/HomeAssets/images/{{ item.userimage }}" alt="avatar">
                                </div>
                                <!-- Title -->
                                <h2 class="mb-2">{{ item.firstname }} {{ item.lastname }}</h2>
                                <h4 class="mb-2">{{ item.role }}</h4>
                                <!-- Content -->
                                <blockquote class="mt-1">
                                    <p>
                                        <span class="me-1 small"><i class="fas fa-quote-left"></i></span>
                                        {{ item.message}}
                                        <span class="ms-1 small"><i class="fas fa-quote-right"></i></span>
                                    </p>
                                </blockquote>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Slider START -->
        </div>
        <!-- Feedback END -->
    </div>
</section>
<app-home-footer></app-home-footer>