<div class="list-group list-group-dark list-group-borderless">
  <a title="الصفحة الرئيسية" class="list-group-item" routerLink="/lenderstore/"
    ><i class="bi bi-ui-checks-grid fa-fw me-2"></i>Dashboard</a
  >
  <a title="عروضي" class="list-group-item" routerLink="/lenderstore/createoffer"
    ><i class="fas fa-tags"></i> My Offers</a
  >
  <a
    title="الاجتماعات"
    class="list-group-item"
    routerLink="/lenderstore/manage-meetings"
    ><i class="fas fa-users"></i> Meetings</a
  >
  <a
    title="طلبات تأجيل الدفعات"
    class="list-group-item"
    routerLink="/lenderstore/postpone-requests"
    ><i class="bi bi-clock-history"></i> Postpone Requests</a
  >
  <a title="الزبائن" class="list-group-item" routerLink="/lenderstore/myClients"
    ><i class="bi bi-people fa-fw me-2"></i>Loanees</a
  >
  <a
    title="طلبات القروض"
    class="list-group-item"
    routerLink="/lenderstore/loan-requests"
    ><i class="bi bi-folder-plus"></i> Loan Requests</a
  >
  <a
    title="تقديم توصية للموقع"
    class="list-group-item"
    routerLink="/lenderstore/Testimonial"
    ><i class="bi bi-chat-quote"></i> Testimonial</a
  >
  <!-- <a class="list-group-item" routerLink="/lenderstore/Followers"><i class="bi bi-folder-check fa-fw me-2"></i>My Followers</a> -->
</div>
