<app-home-header></app-home-header>

<div class="container">
  
    <div class="row" style="margin-top: 95px;  display: flex;
    flex-direction: column; justify-content: center;">

        <div style="display: flex; margin-bottom: 5%;">
            <div class="col-lg-4" style="flex-basis: 50%; margin-left: 12%;">
                <a routerLink="/Auth/lender2">
                    <div class="card-image-scale rounded-3 position-relative" id="imgg" data-aos="fade-down-right">

                        <!-- Card Image -->
                        <img src="../../../assets/HomeAssets/images/avatar/lender.png" width="400px" height="400px">
                        <!-- Overlay -->
                        <div class="card-img-overlay d-flex flex-column p-2 z-index-1">
                            <div><span class="badge text-bg-dark"></span></div>
                        </div>
                    </div>

                    <!-- Card body -->
                    <div class="card-body px-2">
                        <!-- Title -->
                        <h3>Lender Store</h3>
                        <!-- Description -->

                    </div>
                </a>
            </div>


            <div class="col-lg-4" style="flex-basis: 50%;">
                <a routerLink="/Auth/loanee">
                    <div class="card-image-scale rounded-3 position-relative" data-aos="fade-down-left">
                        <!-- Card Image -->
                        <img src="../../../assets/HomeAssets/images/avatar/loanee.png" alt="" width="400px"
                            height="400px">
                        <!-- Overlay -->
                        <div class="card-img-overlay d-flex flex-column p-2 z-index-1">
                            <div><span class="badge text-bg-dark"></span></div>
                        </div>
                    </div>

                    <!-- Card body -->
                    <div class="card-body px-2">
                        <!-- Title -->
                        <h3> Loanee</h3>

                    </div>
                </a>
            </div>

        </div>



        <div style=" display: flex;
    justify-content: center;">
            <div class="col-lg-4">
                <h2>Select your Account </h2>
                <h5 class="neutral-top">Neqatcom gives you quick and easy access to all Lender store services
                    anytime and anywhere.</h5>

                <!-- <p>Register now and start your safe journey by choosing the offers that are suitable for you and
            your financial situation</p> -->
            </div>
        </div>
    </div>
</div>
